/* all page */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: "Poppins";
}


/* ------edit navigation bar for ALL PAGE */
/*-----------------------------------------*/

.navigation-bar {
    width: 100%;
    height: 80px;
    background-color: #04364a;

}

/*  colum 1 in nav-bar  */
.navigation-bar1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: fit-content;
    height: 18px;
}

.search-box {
    width: fit-content;
    height: 42px;
    border-radius: 20px;
    background-color: #176b87;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.search-place {
    background-color: #176B87;
    border: 0px;
    overflow: hidden;

    width: 100%;
    outline: none;
    font-weight: 400;
    color: #dafffb80;
    font-size: 13px;
}

/*  colum 2 in nav-bar  */
.navigation-bar2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn-1 {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.nav-btn-1:hover {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #155c74;
}

.active {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #155c74;
    border: 1px solid black;
}

.nav-icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

/*  colum 3 in nav-bar  */
.navigation-bar3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn-2 {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon-2 {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.dropdown-menu .dropdown-hover:hover {
    display: block;
}

.dropdown-hover .dropdown-item {
    cursor: pointer;
}

.nav-icon-3 {
    width: 54px;
    height: 54px;
    cursor: pointer;
}


/* --------------------------edit music bar for ALL PAGE       */
/*---------------------------------------------------------*/

.music-bar {
    background-color: #000000;
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100vw;
    z-index: 1;
    color: white;
    border-radius: 10px;
}

.avt-bar {
    height: 9vh;
    display: flex;
}

.music-thumb {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3%;

}

.music-thumb img {
    height: 60px;
    width: 60px;
    border-radius: 5px;

}


.song-title {
    padding: 3%;
}

.song-title div {
    font-weight: 500;
    color: white;
    font-size: 15px;
}

.song-title p {
    font-weight: 300;
    color: white;
    font-style: italic;
    font-size: 14px;
}

.control-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4% 13% 0 13%;
}

.control-icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.range {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

.range::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    background-color: #eeee;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #000000;
    width: 10px;
    height: 10px;
    border-radius: 100rem;
    margin-top: -3px;
    box-shadow: 0 0 0 1px #ffffff
}

.timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #999;
}

.more-bar {
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;

}

.more-icon {
    margin: 0 5% 0 12%;
}

#volume-control {
    width: 20%;
    margin-left: -4%;
}


/*--------------------------------------LOG IN PAGE---------------------*/
/*------------------------------------------------------------------------*/

.login-page {
    background-image: linear-gradient(to right bottom, #acd7ec, #9fc9e2, #92bcd9, #87aecf, #7ca1c5, #7499c0, #6c91bb, #6489b6, #5b84b6, #527fb5, #487ab5, #3e75b4);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.page-body-login {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.login-info-frame {
    height: 100%;
}

.logo-login {
    height: 7%;
    width: 40%;
    margin: 40% 0 5% 10%;
}

.text-login {
    font-size: 30px;
    line-height: 1;
    margin-left: 10%;
    margin-bottom: 3%;
}

.text-login-2 {
    font-size: 15px;
    line-height: 1;
    margin-left: 10%;
}


.login-section {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-section .form-box h2 {
    text-align: center;
    font-size: 25px;
}

.form-box .input-box {
    width: 340px;
    height: 50px;
    border-bottom: 2px solid#fff;
    margin: 30px 0;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding-right: 28px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 600px;
    transition: .5s ease;
}

.input-box input:focus~label {
    top: -5px;
}

.input-box input:valid~label {
    top: -5px;
}

.remember-password {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.remember-password a {
    color: #fff;
    text-decoration: none;
}

.remember-password a:hover {
    color: #fff;

    text-decoration: underline;
}

.button-login {
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #dafffb99;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.4);
}

.create-account {
    font-size: 14.5px;
    text-align: center;
    margin: 25px;
}

.create-account p a,
.create-account a {
    color: #fff;
    font-weight: 600px;
    text-decoration: none;
}

.create-account p a:hover,
.create-account a:hover {
    color: #fff;
    text-decoration: underline;
}

.login {
    transform: translateX(0px);
    transition: transform .6s ease;
    transition-delay: 0.7s;
}

.register {
    transform: translateX(0px);
    transition: transform .6s ease;
    transition-delay: 0s;
}

.forget {
    transform: translateY(-300%);
    transition: transform .6s ease;
    transition-delay: 0.7s;
}

.login.change {
    transform: translateX(150%);
    transition-delay: 0.7s;
}

.register.change {
    transform: translateY(-100%);
    transition-delay: 0.7s;
}

.forget.change {
    transform: translateY(-200%);
    transition-delay: 0.7s;
}

.form-group.invalid .form-message {
    color: #aa1931;
}



/*--------------------------------------HOME PAGE---------------------*/
/*------------------------------------------------------------------------*/

.home-page {
    /* background-color: #155c74; */
    background-image: linear-gradient(to right bottom, #176b87, #176883, #176580, #16637c, #166079, #145b74, #13576e, #115269, #0e4b61, #0a4459, #073d52, #04364a);
    width: 100%;
    height: fit-content;
}

/* ------edit body for HOME PAGE */
.page-body-home {
    background-color: #155c74;
    width: 100%;
    height: fit-content;
}

/*left colum for HOME*/
.left-home {
    height: 800px;
    /* chi dung de show*/
    /* height: fit-content; */
    background-color: #04364a;

}

/*feed colum for HOME*/
.feed-home {
    height: 800px;
    /* chi dung de show*/
    /* height: fit-content; */
    background-color: #155c74;

}

.status-frame {
    height: max-content;
    background-color: #04364a;
    border-radius: 10px;
    overflow: hidden;
}

.post-box-1 {
    display: flex;
    height: 2.5em;
    overflow: hidden;
    padding: 0.5em;
    border-radius: 20px;
    background: #176B87;
    align-items: center;
    gap: 10px;
    margin: 1em 1em 2em 1em;
}

.post-avatar {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.post-input {
    background-color: #176B87;
    border: 0px;
    overflow: hidden;

    width: 465px;
    outline: none;
}

.post-box-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid rgb(255, 255, 255, 0.2);
    margin: 0em 1em 1em 1em;
    cursor: pointer;
}

.btn-post {
    height: 36px;
    overflow: hidden;
    border-radius: 8px;
    background: #04364A;
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.btn-post:hover {
    height: 36px;
    overflow: hidden;
    border-radius: 8px;
    background: #176B87;
    flex-shrink: 0;
}

.post-icon {
    width: 20px;
    height: 20px;
}

.post-text {
    flex-shrink: 0;
    color: #DAFFFB;

    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 3px 5px;
}

.post-frame {
    height: 500px;
    /* chi dung de show*/
    /* height: max-content; */
    background-color: #04364a;
    border-radius: 10px;
    overflow: hidden;

}

/*right colum for HOME*/
.right-home {
    height: 800px;
    /* chi dung de show*/
    /* height: fit-content; */
    background-color: #04364a;

}

.modal-upload.open-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 1s;

}

.modal-upload.close-modal {
    opacity: 0;
    transition: 0s;
}

.upload-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    font-weight: 600;
    font-size: 20;
}

.modal-upload-block {
    width: max-content;
    height: 50%;
    background-image: linear-gradient(to right bottom, #acd7ec, #9fc9e2, #92bcd9, #87aecf, #7ca1c5, #7499c0, #6c91bb, #6489b6, #5b84b6, #527fb5, #487ab5, #3e75b4);
    border-radius: 10px;
    overflow: hidden;
    animation: showModal linear 0.2s;
    position: relative;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

.close-modal {
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
}
.close-btn{
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
}

.upload-body div {
    display: flex;
    width: 100%;
    height: 20%;
    margin: 3% 2% 3% 2%;
    align-items: center;
}

.upload-body div input {
    display: flex;
    width: 60%;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
}

.upload-body div label {
    width: 30%;
    align-items: center;
    margin-bottom: 0;
    font-size: 17px;
}

.upload-footer {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
}

.upload-file-btn {
    justify-content: center;
    display: flex;
    height: 20%;
    width: 20%;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 5px;
    align-items: center;
    background: transparent;
    cursor: pointer;

}

.upload-file-btn:hover {
    background: white;
}



/*--------------------------------------LIBRARY PAGE ---------------------*/
/*------------------------------------------------------------------------*/

.library-page {
    background-color: #155c74;
    width: 100%;
    height: fit-content;
}

/* ------edit body for LIBRARY PAGE */
.page-body-library {
    background-color: #155c74;
    width: 100%;
    height: fit-content;
}

/*left colum for LIBRARY*/
.left-library {
    height: 1000px;
    /* chi dung de show*/
    /* height: fit-content; */
    background-color: #04364a;

}

/*feed colum for LIBRARY*/
.feed-library {
    height: 800px;
    /* chi dung de show*/
    /* height: fit-content; */
    background-color: #155c74;

}

.frame-libraby {
    margin: 30px 35px 0 35px;
    display: flex;
    flex-direction: column;
}

.frame-title {

    font-weight: 600;
    color: #dafffb;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.frame-line {
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    gap: 15px;
    margin: 20px 0 10px 0;
}

/* item small*/
.playlist-items {
    width: 177px;
    height: 232px;
    position: relative;
}

.playlist-items:hover {
    width: 185px;
    height: 232px;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid white;
    background: #04364A;
    border-radius: 10px;
    transition: 0.7s;
}

.playlist-item-block {
    width: 177px;
    height: 177px;
    border-radius: 10px;
    background: #04364A;
}

.video-items {
    width: 310px;
    height: 232px;
    position: relative;
}

/*items bigger */
.video-items:hover {
    width: 315px;
    height: 232px;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid white;
    background: #04364A;
    border-radius: 10px;
    transition: 0.7s;
}

.video-item-block {
    width: 310px;
    height: 177px;
    border-radius: 10px;
    background: #04364A;
}

.playlist-item-title,
.video-item-title {
    width: 177px;
    color: #DAFFFB;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.playlist-item-footer,
.video-item-footer {
    width: 177px;
    color: #DAFFFB;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




/*--------------------------------------NOTIFICATION PAGE ---------------------*/
/*------------------------------------------------------------------------*/

.noti-bg {
    background-color: #155c74;
    width: 100%;
    height: 100vh;
}

.right-noti {
    height: 100%;
    background-color: #155c74;
}

.main-noti {
    height: 100%;
    background-color: #04364a;
}

.noti-frame {
    margin-top: 20px;
    margin-left: 20px;
}

.noti-title {
    font-size: 50px;
    color: #DAFFFB;
}

.notification {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #0c485c;
    color: #ffffff;
}

.more-noti {
    font-size: large;
    color: #DAFFFB;
}

.notification:hover {
    border-radius: 10px;
    background: #176B87;
    cursor: pointer;
}


/*--------------------------------------CHAT PAGE ---------------------*/
/*------------------------------------------------------------------------*/

.chat-page {
    background-color: #155c74;
    width: 100%;
    height: fit-content;
}

/* ------edit body for CHAT PAGE */
.page-body-chat {
    background-color: #155c74;
    width: 100%;
    height: fit-content;
}

/*left colum for LIBRARY*/
.left-chat {
    height: 1000px;
    /* chi dung de show*/
    /* height: fit-content; */
    background-color: #04364a;

}

.search-frame-chat-1 {
    justify-content: space-between;
}

.chat-title {

    font-weight: 600;
    color: #dafffb;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.chat-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-icon:hover {
    width: 35px;
    height: 35px;
    background-color: #155c74;
    border-radius: 50%;
    justify-content: center;

}

.search-frame-chat-2 {
    display: inline-flex;
    height: 40px;
    overflow: hidden;
    border-radius: 20px;
    background: #176B87;
    justify-content: center;
    align-items: center;
    outline: none;
}

.search-box-chat {
    outline: none;
    background-color: #176b87;
    width: 80%;
    border: none;
    color: #DAFFFB80;
}

.show-frame-chat {
    height: 500px;
    overflow-y: scroll;
}

.show-chat-items {
    display: flex;
    border-radius: 10px;
}

.show-chat-items:hover {
    display: flex;
    border-radius: 10px;
    background: #176B87;
}

.avatar-icon {
    display: block;
    padding: 10px;
}

.main-message {
    display: block;
    margin: 15px;
    padding: 10px;
}

.name-title {
    color: #DAFFFB;

    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.message-title {
    color: #DAFFFB;

    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}







/*--------------------------------------PROFILE PAGE ---------------------*/
/*------------------------------------------------------------------------*/


.profile-page {
    background-color: #155c74;
    width: 100%;
    height: fit-content;
}

.page-body-profile {
    background-color: #155c74;
    width: 100%;
    height: fit-content;
}

.left-profile {
    height: 1000px;
    /* chi dung de show*/
    /* height: fit-content; */
    background-color: #155c74;

}

.feed-profile {
    height: 1000px;
    background-color: #155c74;

}

.profile-frame {
    width: 100%;
    height: 30%;
    background-color: #04364a;
    border-radius: 0px 0px 10px 10px;
    position: relative;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

/* Add this CSS to blur the background when the modal is active */
.blur {
    filter: blur(5px);
}

.upload-btn-avt {
    position: absolute;
    width: 20%;
    height: 10%;
    background-color: #dafffb99;
    border-radius: 8px;
    margin: 5% 0% 0% 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.upload-icon {
    width: 20%;
    margin: 0% 3% 0% 3%
}

.upload-title {
    font-weight: 500;
    color: #04364a;
    font-size: 12px;
    margin: 0% 3% 0% 2%;
}

.avt-icon {
    margin: 6%;
    width: 200px;
    height: 200px;
    background-color: #176b87;
    border-radius: 50%;
}

.share-frame-btn {
    flex-direction: row;
}

.share-btn {
    height: 25px;
    background-color: #dafffb99;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 1% 0 1% 0%;
}

.share-icon {
    width: 25%;
    height: 100%;
    margin: 0% 3% 0% 3%
}

.share-title {

    font-weight: 500;
    color: #04364a;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
}

.track-frame {
    height: fit-content;
    background-color: #176b87;
    border-radius: 10px;
}

.menu-frame-bar {
    background-color: #04364a;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-name {
    text-align: center;

    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    color: white;
}

.menu-name:hover {
    text-align: center;

    font-weight: 500;
    color: #00ffed;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
}

.track-frame-bar {
    background-color: #176b87;
    text-align: center;

}

.noti-track {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noti-message-1 {

    font-weight: 500;
    color: #dafffb;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.noti-message-2 {

    font-weight: 400;
    color: #00ffed;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.upload-btn-track {
    width: 20%;
    text-align: center;
    height: 30px;
    background-color: #00ffed;
    border-radius: 25px;

    font-weight: 500;
    color: #04364a;
    font-size: 13px;
    padding: 5px;
    cursor: pointer;
}

.info-frame {
    height: 350px;
    /* chi dung de show*/
    /* height: fit-content; */
    background-color: #176b87;
    border-radius: 10px;
    float: left;
}

.show-info {
    height: 60px;
    background-color: #04364a;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-title {

    font-weight: 500;
    color: #dafffb;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
}

.info-number {

    font-weight: 500;
    color: #dafffb;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    text-align: left;
}

.right-profile {
    height: 1000px;
    /* chi dung de show*/
    /* height: fit-content; */
    background-color: #155c74;

}



/*--------------------------------------ABOUT US PAGE ---------------------*/
/*------------------------------------------------------------------------*/

.abt-bg {
    background-color: #155c74;
    width: 100%;
    height: 150vh;
}

.main-abt {
    height: auto;
    background-color: #04364a;
}

ol li {
    color: whitesmoke;
}

.link-fb {
    color: whitesmoke;
    width: fit-content;
}

.abt-frame {
    margin-left: 20px;
}

.abt-header {
    color: #DAFFFB;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.abt-desc {
    color: #DAFFFB;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*--------------------------------------LEGAL PAGE ---------------------*/
/*------------------------------------------------------------------------*/

.legal-bg {
    background-color: #155c74;
    width: 100%;
    height: fit-content;
}

.main-legal {
    height: fit-content;
    background-color: #04364a;
}

.legal-frame {
    margin-left: 20px;
}

.legal-header {
    color: #DAFFFB;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.legal-desc {
    color: #DAFFFB;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}